nav ul {
  padding: 0;
  list-style: none; }
nav li {
  padding: 10px;
  margin: 5px;
  border-radius: 5px; }
  nav li .lights {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: inline-block; }
    nav li .lights ul {
      background-color: yellow;
      height: 50px; }
      nav li .lights ul li {
        display: inline-block;
        background-color: red;
        margin-right: 30px; }
nav ul li {
  background-color: #4c9cd7; }
nav a {
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 5px; }

.logo {
  width: 250px;
  margin: 0 auto; }

.home {
  width: 10%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px; }

.user {
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 20px; }
  .user img {
    width: 40%;
    text-align: center; }

.none {
  display: none; }

.right {
  float: right; }

.left {
  float: left; }

.left-home {
  float: left; }

.centre {
  position: absolute;
  left: 45%; }

.third {
  position: relative;
  left: 60%; }

.rise {
  position: relative;
  bottom: 10px; }

.inline-block {
  display: inline-block; }

h2 {
  color: #004378;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }

h3 {
  color: #004378;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center; }

.box {
  color: white;
  background-color: #4c9cd7;
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; }

.pin-tabs {
  padding: 20px;
  border-radius: 5px;
  background-color: #d4d8dd;
  display: inline-block; }

.login-page {
  position: relative;
  top: 50px; }

.mid-page {
  position: relative;
  top: 250px; }

.width-40 {
  width: 40%; }

.centre {
  text-align: center; }

.block {
  display: block; }

.camera-box1 {
  width: 300px;
  display: inline-block;
  margin: 5px 5px 5px 5px; }

.camera-screen1 {
  background-color: gray;
  padding: 10px;
  height: 70px;
  border-radius: 5px 5px 0px 0px;
  height: 150px; }

.title-camera-box {
  background-color: #4c9cd7;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 0px 0px 5px 5px; }

.margin-right {
  margin-right: 10px; }

.container {
  width: 90%;
  height: 640px;
  margin: 0 auto; }

.fa {
  color: white; }

.settings-cog {
  padding-top: 10px;
  margin-right: 10px;
  font-size: 25px; }

.square {
  width: 20%; }

.centre {
  text-align: center; }

.log-in {
  width: 100px;
  margin: 0 auto; }

.font {
  font-size: 12px; }

.width-2 {
  width: 45%; }

.hover ul li:hover {
  background: #004378; }

.edit {
  background-color: #004378;
  width: 40px;
  margin: 0 auto;
  height: 20px;
  position: relative;
  top: 10px; }
  .edit a {
    position: relative;
    bottom: 5px;
    right: 2px; }

.submit {
  background-color: #004378;
  width: 20px;
  padding: 20px; }
  .submit p {
    color: white; }

input[type=range] {
  /*removes default webkit styles
  -webkit-appearance: none;
  
  /*fix for FF unable to apply focus style bug */
  /*required for proper track sizing in FF*/
  width: 100%; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #004378;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #004378; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline-offset: -1px; }

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #004378; }

input[type=range]:focus::-ms-fill-lower {
  background: #888; }

input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #004378; }

input:focus + .slider {
  box-shadow: 0 0 1px #004378; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.slider-pos {
  float: right;
  position: relative;
  top: 7px;
  right: 5px; }

@media all and (max-width: 700px) {
  nav li br {
    display: none; }

  .header {
    background-color: #004378;
    height: 20px;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px; }

  .icon-main-padding {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px; }

  .fa-battery-half {
    font-size: 25px;
    padding-right: 10px;
    padding-top: 10px;
    float: right; }

  .fa-play-circle {
    font-size: 25px;
    padding-right: 5px;
    padding-top: 10px;
    float: right; }

  .width-main {
    width: 45%; }

  .width-test {
    width: 30%; } }
.slider-range {
  border-radius: 0px 0px 5px 5px;
  position: relative;
  bottom: 10px; }

.slider-range-tablet-over {
  display: none; }

@media all and (min-width: 701px) {
  .container {
    width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #004378;
    height: 1000px;
    width: 7%;
    float: left;
    margin-right: 1%; }

  .width-main {
    width: 30%; }

  .width-test {
    width: 20%; }

  .left {
    display: none; }

  .position-left {
    position: relative;
    right: 126px; }

  .tablet {
    text-align: center; }

  .box-padding {
    padding-top: 65px;
    padding-bottom: 65px; }

  nav ul {
    padding: 0; }
  nav li {
    padding: 50px 40px 50px 40px;
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    display: inline-block; }
    nav li .nav-line {
      display: none; }
    nav li .lights {
      color: red;
      font-family: 'Poppins', sans-serif;
      font-size: 12px; }
  nav ul li {
    background-color: red; }
  nav a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0px;
    text-align: center; }

  .hide-tablet {
    display: none; }

  .fa {
    color: white; }

  .icon-main-padding {
    position: relative;
    right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px; }

  .settings-cog {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 25px; }

  .fa-battery-half {
    font-size: 25px; }

  .fa-play-circle {
    font-size: 25px; }

  .centre {
    text-align: center; }

  .log-in {
    width: 100px;
    margin: 0 auto; }

  .font {
    font-size: 12px; }

  .width-2 {
    width: 45%; }

  .hover ul li:hover {
    background: #004378; }

  .slider-pos {
    position: relative;
    top: 7px;
    right: 37%; }

  .slider-range {
    border-radius: 5px 5px 5px 5px;
    width: 40%; }

  .slider-range-tablet {
    display: none; }

  .slider-range-tablet-over {
    display: block;
    position: relative;
    top: 15px; }

  .temp-padding {
    padding: 80px 40px 80px 40px;
    margin-bottom: 2px; }

  .temp-range {
    padding-bottom: 90px; }

  .numbers {
    position: relative;
    top: 40px; } }
