$primary-color: #004378;

$secondary-color: #4c9cd7;

$bg-color: #4c9cd7;

$hover-color: #004378;

$text-color: white;

h1 {
    color: $primary-color;
}

p{
    color: $secondary-color;
}

nav{
        ul{
             padding: 0;
             list-style: none;
        }
        
        li{
             
            padding: 10px;
            margin: 5px;
            border-radius: 10px;
            
        }
        
        ul li{
            background-color: $secondary-color;   
        }
        
        a{
            color: $text-color;
            display:inline-block;
            padding: 10px 16px;
            text-decoration: none;
            font-family: sans-serif;
            margin-bottom: 5px;
        }
        
}

 // css for general box
.box{
            color: $text-color;
            background-color: $secondary-color;  
            display:inline-block;
            padding: 20px 16px;
            text-decoration: none;
            font-family: sans-serif;
            margin-bottom: 2px;
            border-radius: 10px;
            margin-left: 5px;
            
            
}

// css for box at 60% for mobile and portrait tablet layout
.width-60{
            width: 60%;
}

// css for box at 100% for mobile and portrait tablet layout
.width-100{
            width: 100%;
}

.camera-box1{
    margin-bottom: 20px;
    width:40%;
    display: inline-block;

}
.camera-screen1 {
            background-color: gray;
            padding:10px;
            height: 70px;
            border-radius: 10px 10px 0px 0px;
}

.title-camera-box {
            background-color: $secondary-color;
            padding:10px;
            color: $text-color;
            font-family: sans-serif;
            padding: 20px;
            border-radius: 0px 0px 10px 10px;
}

.margin-right {
    margin-right: 10px;
}

.container{
    width: 90%;
    height: 640px;
    // background-color: #bc5171;
    margin: 0 auto;
}

.hover ul li:hover{
    background:$hover-color;
}