nav ul {
  padding: 0;
  list-style: none; }

nav li {
  padding: 10px;
  margin: 5px;
  border-radius: 5px; }

nav ul li {
  background-color: #4c9cd7; }

nav a {
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 5px; }

.logo {
  width: 250px;
  margin: 0 auto; }

.home {
  width: 10%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px; }

.right {
  float: right; }

.left {
  float: left; }

.inline-block {
  display: inline-block; }

h2 {
  color: #004378;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }

.header {
  background-color: #004378;
  height: 20px;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

ul li img {
  width: 10%;
  float: left; }

.box {
  color: white;
  background-color: #4c9cd7;
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; }

.pin-tabs {
  padding: 20px;
  border-radius: 5px;
  background-color: #d4d8dd;
  display: inline-block; }

.login-page {
  position: relative;
  top: 50px; }

.mid-page {
  position: relative;
  top: 250px; }

.width-main {
  width: 45%; }

.width-test {
  width: 30%; }

.width-40 {
  width: 40%; }

.centre {
  text-align: center; }

.block {
  display: block; }

.camera-box1 {
  width: 40%;
  display: inline-block;
  margin: 20px 5px 5px 5px; }

.camera-screen1 {
  background-color: gray;
  padding: 10px;
  height: 70px;
  border-radius: 5px 5px 0px 0px; }

.title-camera-box {
  background-color: #4c9cd7;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 0px 0px 5px 5px; }

.margin-right {
  margin-right: 10px; }

.container {
  width: 90%;
  height: 640px;
  margin: 0 auto;
  overflow: auto; }

.fa {
  color: white; }

.fa-battery-half {
  font-size: 25px;
  padding-right: 10px;
  padding-top: 10px;
  float: right; }

.fa-play-circle {
  font-size: 25px;
  padding-right: 5px;
  padding-top: 10px;
  float: right; }

.centre {
  text-align: center; }

.log-in {
  width: 100px;
  margin: 0 auto; }

.font {
  font-size: 12px; }

.width-2 {
  width: 45%; }

.icon-main-padding {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 25px; }

.hover ul li:hover {
  background: #004378; }

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod; }

input[type=range]:focus::-ms-fill-lower {
  background: #888; }

input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #004378; }

input:focus + .slider {
  box-shadow: 0 0 1px #004378; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.slider-pos {
  float: right;
  position: relative;
  top: 7px;
  right: 5px; }
