$primary-color: #004378;

$secondary-color: #4c9cd7;

$bg-color: #4c9cd7;

$hover-color: #004378;

$text-color: white;

$width-main:45%;

$width-test:30%;


// General Nav
// General Nav
nav{
        ul{
             padding: 0;
             list-style: none;
        }
        
        li{
            padding: 10px;
            margin: 5px;
            border-radius: 5px;

            .lights{
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;


            ul{ background-color: yellow;
                height: 50px;



               


                li{
                    display: inline-block;
                    background-color: red;
                    margin-right: 30px;
                    // float:right;


                }
            }
            display: inline-block;
}
        }
        
        ul li{
            background-color: $secondary-color;   
        }
        
        a{
            color: $text-color;
            display:inline-block;
            padding: 5px 10px;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            margin-bottom: 5px;



        }
        

}
 // Main Logo
.logo{
        width:250px;
        margin: 0 auto;
}

.home{
    width: 10%;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom: 5px;
}

// User profile pic

.user{

    text-align: center;
    margin-top: 20px;
    position: relative;
    top: 20px;
    img{
        width: 40%;
        text-align: center;
    }
}

// .hide-mobile{
//     display:none;
// }

.none{
	display: none;
}


.right{
    float: right;
}

.left{
    float: left;
}

.left-home{
	float: left;
}

.centre{
       position: absolute;
       left:45%;
}

.third{
        position: relative;
       left:60%;
}

// .2-thirds{
//         position: absolute;
//        left:80%;
// }

.rise{
        position: relative;
        bottom: 10px;
}

.slider-range{
        
        //background-color: $primary-color;
        border-radius: 0px 0px 5px 5px;
        position: relative;
        bottom: 10px;
        
   
}


.inline-block{
    display: inline-block;
}

h2 {
            color: $primary-color;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
}

h3{
            color: $primary-color;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            text-align: center;
}

.header {
            background-color: $primary-color;
            height: 20px;
            width: 100%;
            padding-bottom: 40px ;
            padding-top:10px;
            padding-left:0px;
            padding-right:0px;
}




 // css for general box
.box{
            color: $text-color;
            background-color: $secondary-color;  
            display:inline-block;
            padding: 25px;
            text-decoration: none;
            font-family: sans-serif;
            border-radius: 10px;
            margin: 5px 5px 5px 5px;
            
}

//The pin tabs for log in

.pin-tabs{
        padding:20px;
        border-radius: 5px;
        background-color: #d4d8dd;
        display: inline-block;
}

//positioning of the log in page
.login-page{
        position: relative;
        top: 50px;
}

//positioning of the log-out page
.mid-page{
        position: relative;
        top: 250px;
}

// css for box at 60% for mobile and portrait tablet layout
.width-main{
            width:$width-main;
}

.width-test{
            width: $width-test;
}
// css for box at 100% for mobile and portrait tablet layout
.width-40{
            width: 40%;
}

.centre{
            text-align: center; 
}

.block{
    display: block;
}

.camera-box1{
    //margin-bottom: 20px;
    width:40%;
    display: inline-block;
    margin: 20px 5px 5px 5px;
}
.camera-screen1 {
            background-color: gray;
            padding:10px;
            height: 70px;
            border-radius: 5px 5px 0px 0px;
}

.title-camera-box {
            background-color: $secondary-color;
            color: $text-color;
            font-family: sans-serif;
            padding: 10px;
            border-radius: 0px 0px 5px 5px;
}

.margin-right {
    margin-right: 10px;
}

.container{
    width: 90%;
    height: 640px;
   //background-color:
    margin: 0 auto;
    overflow: auto;
}

// icon styles
.fa{
    color: white;
}

.icon-main-padding{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
}

.settings-cog{
        padding-top: 10px;
        margin-right: 10px;
        font-size: 25px;
}
.fa-battery-half{
    font-size: 25px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}

.fa-play-circle {
    
    font-size: 25px;
    padding-right: 5px;
    padding-top: 10px;
    float: right;
}

.square{
	width:20%;
}

.centre{
        text-align: center;
}

.log-in{
        width: 100px;
        margin: 0 auto;
}
.font{
        font-size: 12px;
}

.width-2{
        width: 45%;
}

.icon-main-padding{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
}

.hover ul li:hover{
    background:$hover-color;
}
// Code for edit button
.edit{
    background-color: $primary-color;
    width: 40px;
    margin: 0 auto ;
    height: 20px;
    position: relative;
    top: 10px;
    a{
        position: relative;
        bottom: 5px;
        right: 2px;
    }
}

// Code for submit button

.submit{
	background-color: $primary-color;
   width:20px;
   padding: 20px;
   p{
   	color: white;
   }

}


// Range sliders

input[type=range] {
    /*removes default webkit styles
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    // border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
}

// This is the track
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

// This is the slider button
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary-color;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

// For Firefox

// This is the track
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
// This is the slider button
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary-color;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    // outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary-color;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

// Toggle swith code
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-pos{
        float:right;
        position: relative;
        top: 7px;
        right: 5px;
}


//media query



@media all and (max-width: 700px){
	nav li br {
		display: none;
	}
}
@media all and (min-width: 701px)
{
        
.container{
    width: 100%;
    //height: 640px;
   //background-color:
    margin: 0 auto;
    overflow: auto;
}

.left{
	display: none;
}


.tablet{
        text-align: center;
}
nav{
        ul{
             padding: 0;
             //list-style: none;
        }
        
        li{
            padding: 50px 40px 50px 40px;
            margin: 5px;
            border-radius: 5px;
            width: 20%;
            display: inline-block;
           
            .nav-line {
            	display: none;
            }
            .lights{
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            //display: inline-block;
}
        }
        
        ul li{
            background-color: #db1e57;   
        }
        
        a{
            color: $text-color;
            //display:inline-block;
            //padding: 5px 10px;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            margin-bottom: 5px;
            padding: 0px;
            text-align: center;



        }
        

}

.hide-tablet{
    display: none;
}


// icon styles
.fa{
    color: white;
    
}

.icon-main-padding{
      
        font-size: 25px;
        text-align: center;
}

.settings-cog{
        padding-top: 10px;
        margin-right: 10px;
        font-size: 25px;
}
.fa-battery-half{
    font-size: 25px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}

.fa-play-circle {
    
    font-size: 25px;
    padding-right: 5px;
    padding-top: 10px;
    float: right;
}

.fa-plus-circle{
    
}

.centre{
        text-align: center;
}

.log-in{
        width: 100px;
        margin: 0 auto;
}
.font{
        font-size: 12px;
}

.width-2{
        width: 45%;
}

.icon-main-padding{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 30px;
}

.hover ul li:hover{
    background:$hover-color;
}
//tablet toggle position
.slider-pos{
        
        position: relative;
        top: 7px;
        right: 37%;
        
}

//Moving the titles down for tablet

a {
        position: relative;
        top: 5px;
}

.pushed-over{
        position: relative;
        left: 100px;
}

.extra-padding{
        padding: 60px 40px 70px 40px;
}
}